/* MODAL */

@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.UI-modal {
  padding-bottom: 160px;
  padding-top: 160px;
}
.UI-modal.UI-modal--view {
 padding: 0;
}

.UI-modal .UI-info-block--content {
 padding-left: 3em;
}

.UI-modal .ngdialog-content {
  -webkit-animation: ngdialog-flyin .3s;
  animation: ngdialog-flyin .3s;
  background: #BackgroundColor;
  border-radius: 4px 4px 0 0;
  margin: 0 auto;
  max-width: 95%;
  width: 32em;
  /*padding: 1em;*/
  position: relative;
}
.UI-modal.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .3s;
  animation: ngdialog-flyout .3s;
}
.UI-modal.UI-modal--alert .ngdialog-content {
  width: 20em;
}
.UI-modal.UI-modal--wide .ngdialog-content {
  width: 48em;
}
.UI-modal.UI-modal--xwide .ngdialog-content {
  width: 64em;
}
.UI-modal.UI-modal--view .ngdialog-content {
 width: 100%;
 min-height: 100%;
 border-radius: 0;
}
.UI-modal.UI-modal--wide,
.UI-modal.UI-modal--xwide {
  padding-bottom: 4em;
  padding-top: 4em;  
}

/*.UI-modal .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #TextShade;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}*/

.UI-modal .ngdialog-close:hover:before,
.UI-modal .ngdialog-close:active:before {
  color: #TextColor;
}

.UI-modal--header {
    background-color: #BackgroundShade;
    color: #TextShade;
    padding: 1em;
    border-radius: 4px 4px 0 0;
}

.UI-modal .ngdialog-close {
    color: #TextShade;
    cursor: pointer;
    content: '\00D7';
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    padding: 1em;
    font-weight: bold;
}

.UI-modal--content {
    padding: 1em;
}

.UI-modal--footer {
    border-top: 1px solid #BorderColor;
    margin-bottom: -0.5em;
}

.UI-modal--primary {
  color: #AccentColor;
  fill: #AccentColor;
  font-weight: 600;
}

.UI-modal.UI-modal--view .UI-modal--footer {
    position: fixed;
    bottom: 0;
}
